# R specific files
.RData
.RDataTmp
.Rhistory
*.Rproj.user/

# R Markdown output files
*.html
*.pdf
*.tex
*.log
*.nb.html

# Large data files
*.h5
*.tsv.gz
*.csv.gz

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Output directories
output/
plots/
